####################################################
#  SQUINT Sparse Quad Union Indexed Nibble Trie:   #
#  https://github.com/idle-PB/SQUINT               #
####################################################

root = true


## Repository Configurations
############################
[.{git*,editorconfig,*.yml}]
end_of_line = lf
indent_style = space
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.gitmodules]
indent_style = tab


## PureBasic Files
##################
[*.{pb,pbf,pbi}]
charset = utf-8-bom
indent_style = space
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = false
insert_final_newline = unset


## Shell Scripts
################
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Markdown GFM
###############
[*.md]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Plain-Text Files
###################
[*.txt]
indent_style = space
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true


[LICENSE]
indent_size = unset
indent_style = space
end_of_line = unset
trim_trailing_whitespace = true
insert_final_newline = true

# EOF #
